<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script> -->
<!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"> -->
    
    
    
</head>
<body>
 <style>   
    .inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
  </style>  
    
    
    
    
            <div class="container_fluid">
  <!--firstrow -->              
            <div class="row">
                <div class="col-md-12" style="background-color:#3b5998">
                    <div class="col-md-12">
                 <div class="col-md-offset-2 col-md-1"><img style="" class="img-responsive" src="download.png"></div>
                 <div class="col-md-offset-0 col-md-3">
                   
                  <div class="inner-addon right-addon">
                   <i class="glyphicon glyphicon-search"></i>
                   <input type="text" placeholder="search Facebook" class="form-control" />
                 </div>       
                 </div>
            </div>
            </div>
       </div>
       <div class="row">
           <div class="col-md-12" style="background-color:#edf0f5"></br></br></br></br></br></br>
               <div class="col-md-offset-3 col-md-4"style="background-color:#ffffff"></br></br></br></div>
           </div>
       </div> 
</div>                     
</body>
</html>    