<html>
<head>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script> -->
<!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"> -->

</head>
<body>
   <div class="container_fluid">
        <div class="row">
          <div class="col-md-12" style="background-color:#3b5998">
          <div class="col-md-offset-2 col-md-1"><img style="" class="img-responsive" src="download.png"></div>
          </div>
        </div>
		<div class="row">
		 <div class="col-md-12" style="background-color:#edf0f5"><br><br><br><br><br>
       <div class="col-md-3"><input type="file" name="userfile" size="20"></div>
    </div><br><br>
    <div class="row">
      <div class="col-md-12" style="background-color:#edf0f5">   
       <div class="col-md-offset-3 col-md-4"><input type="submit" value="upload"/></div>
		 </div>   
		 </div>
    
    </div>
    </div>
</body>
</html>